
@model universities.Models.Schools

<p><a id="dbopt" asp-controller="Home" asp-action="Populate">Save it to database! </a>To show functionality of saving the API data into the database</p>


<head>
    <meta name="viewport" content="width=device-width" />
    <title>Schools</title>
    <style type="text/css">

        body {
            font-family: Arial;
            font-size: 10pt;
        }

        table {
            border: 5px solid #ccc;
            border-collapse: collapse;
            background-color: #fff;
        }

            table th {
                background-color: #B8DBFD;
                color: #333;
                font-weight: bold;
            }

            table th, table td {
                padding: 5px;
                border: 1px solid #ccc;
            }

            table, table table td {
                border: 10px solid #ccc;
            }
    </style>
</head>
<body>
    <div>
        <h2>List of All Schools</h2>
        <hr />
        <br />


        <table width="400">
            <thead>
                <tr>
                    <th>
                        Name
                    </th>
                    <th>
                        State
                    </th>
                    <th>
                        Enrollment
                    </th>
                    <th>
                        Tuition In State
                    </th>
                    <th>
                        Tuition Out of State
                    </th>

                    <th>
                        Type
                    </th>

                    <th>
                        Website
                    </th>

                    <th>
                        Price Calculator
                    </th>
                </tr>
            </thead>


            <tbody>


                @foreach (var item in Model.results)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.State)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Studentsize)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TuitionInState)
                        </td>

                        <td>
                            @Html.DisplayFor(modelItem => item.TuitionOutOfState)

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.latestprogramscip_4_digit)

                        </td>
                        <td>
                            <a href="@item.Url" target="_blank">
                                @Html.DisplayFor(modelItem => item.Url)
                            </a>
                        </td>
                        <td>
                            <a href="@item.PriceCalculatorUrl" target="_blank">
                                @Html.DisplayFor(modelItem => item.PriceCalculatorUrl)
                            </a>
                        </td>
                    </tr>
                }
            </tbody>

        </table>
    </div>
</body>




<script>
    alertDbSave(@ViewBag.dbSuccessComp);
</script>

